.flipboard {
    display: flex;
    flex-direction: row;
   
    font-size: 4em;
    justify-content: flex-start;
    align-items: center;
    /* Center the characters vertically */
}

input.inputText {
    font-size: 2em;
    background-color: black;
    color: white;
}

.flipboard-char {
    position: relative;
    width: 1em;
    /* Fixed width for uniformity */
    height: 1.2em;
    /* Adjust height as needed for visual balance */
    overflow: hidden;
    perspective: 500px;
    display: inline-flexbox;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0.02em;
    /* Adjust spacing between characters */
}

.char-top-half {
    position: absolute;
    text-align: center;
    line-height: 1;
    width: 100%;
    color: white;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
    backface-visibility: hidden;
    background-color: black;
    z-index: 1;
}

.char-bottom-half {
    position: absolute;
    perspective: 300px;
    width: 100%;
    height: 100%;
    top: -0.001em;
    text-overflow: clip;
    text-align: center;
    line-height: 1;
    color: rgb(225, 225, 225);
    -webkit-clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
    backface-visibility: hidden;
    z-index: 1;
    background-color: black;
}

.char-top-half.flippingTop {
    animation: flip-top-half 0.2s ease-in-out forwards;
}

.char-bottom-half.flippingMiddle {
    animation: flip-bottom-half .35 ease-in;
}

.char-bottom-half.flippingBottom {
    animation: flip-bottom-half .45 ease-in forwards;
}

@keyframes flip-top-half {
    0% {
        transform: rotateX(0deg);
        background-color: rgb(0, 0, 0);
        /* Debug color */
    }

    25% {
        transform: rotateX(-45deg);
        color: rgb(132, 132, 132);
        background-color: rgb(52, 52, 52);
        /* Debug color */
    }

    50% {
        transform: rotateX(-80deg);
        color: rgb(80, 80, 80);
        background-color: rgb(39, 39, 39);
        /* Debug color */
    }

    75% {
        transform: rotateX(-85deg);
        color: rgb(122, 122, 122);
        background-color: rgb(20, 20, 20);
        /* Debug color */
    }

    100% {
        transform: rotateX(-90deg);
    }
}

@keyframes flip-bottom-half {
    0% {
        transform: rotateX(90deg);
        background-color: rgb(0, 0, 0);
        /* Debug color */
        color: black;
    }

    25% {
        transform: rotateX(90deg);
        background-color: rgb(21, 21, 21);
        /* Debug color */
        color: rgb(61, 61, 61);
    }

    50% {
        transform: rotateX(25deg);
        background-color: rgb(33, 33, 33);
        /* Debug color */
        color: rgb(78, 78, 78);
    }

    75% {
        transform: rotateX(-25deg);
        background-color: rgb(0, 0, 0);
        /* Debug color */
        color: rgb(26, 26, 26);
    }

    85% {
        transform: rotateX(10deg);
        background-color: rgb(39, 39, 39);
        /* Debug color */
        color: rgb(45, 45, 45);
    }

    90% {
        transform: rotateX(-10deg);
        background-color: rgb(0, 0, 0);
        /* Debug color */
        color: rgb(19, 19, 19);
    }

    95% {
        transform: rotateX(15deg);
        background-color: rgb(16, 16, 16);
        /* Debug color */
        color: rgb(47, 47, 47);
    }

    100% {
        transform: rotateX(-15deg);
        background-color: black;
        /* Debug color */
        color: white;
    }
}